asgiref==3.7.2
certifi==2023.5.7
charset-normalizer==3.1.0
dj-database-url==2.0.0
dj-email-url==1.0.6
Django==4.2.1
django-cache-url==3.4.4
django-debug-toolbar==4.1.0
django-phonenumber-field==7.1.0
djangorestframework==3.14.0
environs==9.5.0
geographiclib==2.0
geopy==2.3.0
gunicorn==20.1.0
idna==3.4
marshmallow==3.19.0
packaging==23.1
phonenumbers==8.13.13
Pillow==9.5.0
pip==22.0.2
python-dotenv==1.0.0
pytz==2023.3
requests==2.31.0
setuptools==59.6.0
sqlparse==0.4.4
typing_extensions==4.6.2
urllib3==2.0.2
rollbar==0.16.3
psycopg2==2.9.1